h1, h2, h3, p, li {
  font: sans-serif;
  color: white;
}
#list {
    margin:0;
}
li {
    font-size: 10pt;
}

body {
    background-color: #262626;
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  opacity: 0.4;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #e6e6e6;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;    
  color: white; 
  cursor: move;
  font-size: 12px;
  font-weight: bold;
}
